# Virtual environment
.venv/

# Python cache
__pycache__/
*.py[cod]

# Pytest
.pytest_cache/

# Environment variables
.env

# Streamlit secrets
.streamlit/secrets.toml

# OS files
.DS_Store
Thumbs.db

# VS Code
.vscode/

# Logs
*.log